#header-color{
    background: linear-gradient(to right,    #261297,#1b1fec,#6425b8); /* Mélange de couleurs */

}
#sidebar-color {
    background: linear-gradient(to right,    #261297,#1b1fec); /* Mélange de couleurs */


}
#newsfeed{
    background: linear-gradient(to right,   #261297,#1b1fec,#6425b8); /* Mélange de couleurs */

}
#publier_color{
    background: linear-gradient(to right,    #261297,#1b1fec,#6425b8); /* Mélange de couleurs */

}
#message_color{
    background: linear-gradient(to right,    #261297,#1b1fec,#6425b8); /* Mélange de couleurs */

}